:root {
	--green-screen: #0f0;
	--win-95-teal: #008080;
	--beige: #ffffe4;
	--win-95-gray: #c0c0c0;
	--white: #fff;
	--padding: 28px;
	--border-width: 10px;
	--effective-padding: calc(var(--padding) - var(--border-width));
	--border-radius: 10px;
	--screen-width: calc(1280px + (2 * var(--border-width)));
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	display: grid;
	background: var(--win-95-teal);
}

#app {
	display: flex;
	flex-wrap: nowrap;
	width: 1920px;
	padding: var(--effective-padding);
	gap: var(--effective-padding);
	position: relative;
}

.confetti {
	position: absolute;
	animation: confetti-fall 3s linear forwards;
}

@keyframes confetti-fall {
	0% {
		top: 0px;
		transform: translateX(0);
	}
	25% {
		transform: translateX(20px);
	}
	50% {
		transform: translateX(0);
	}
	75% {
		transform: translateX(20px);
	}
	100% {
		transform: translateX(0);
		top: 1200px;
	}
}

.green-screen {
	position: relative;
	background-color: var(--green-screen);
}

.screen {
	width: var(--screen-width);
	min-width: var(--screen-width);
	border: var(--border-width) solid var(--win-95-gray);
	border-radius: var(--border-radius);
}

.webcam-timer {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: var(--effective-padding);
}

.webcam {
	width: 100%;
	height: calc(408px + 2 * var(--border-width));
	border: var(--border-width) solid var(--win-95-gray);
	border-radius: var(--border-radius);
}

.timer {
	flex-grow: 1;
	background: var(--win-95-gray);
	border: var(--border-width) solid var(--win-95-gray);
	border-radius: var(--border-radius);
}

#timer-inner {
	visibility: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 100%;
}

#block {
	font-size: 55px;
	font-weight: bold;
	width: 100%;
	text-align: center;
	color: var(--win-95-teal);
	padding-top: 20px;
}

#clock {
	font-size: 175px;
	width: 100%;
	font-weight: bold;
	text-align: center;
	color: var(--win-95-teal);
	margin-bottom: 0px;
	transform: translateY(-70px);
}

#techlectic {
	font-size: 30px;
	width: 100%;
	text-align: center;
	font-weight: bold;
	color: var(--win-95-teal);
	align-self: flex-end;
	padding-bottom: 20px;
}

#techlectic.big {
	font-size: 40px;
}

#logo {
	margin-top: 55px;
	display: none;
	color: var(--white);
	height: 200px;
}

#logo > code {
	font-weight: bold;
	background: var(--win-95-teal);
	border: var(--border-width) solid var(--win-95-teal);
	font-size: 200px;
	padding: 0 60px;
	border-radius: 100%;
}

#logo.visible {
	display: block;
}
