:root {
	font-family:
		"FiraCode Nerd Font Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
		Consolas, "Liberation Mono", "Courier New", monospace;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	display: grid;
}

.app {
	display: flex;
}

.app > div {
	background: #0f0;
	width: 100%;
}
