:root {
	--green-screen: #0f0;
	--padding: 28px;
	--border-width: 10px;
	--effective-padding: calc(var(--padding) - var(--border-width));
	--border-radius: 10px;
	--screen-width: calc(1280px + (2 * var(--border-width)));
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	display: grid;
}

.app {
	display: flex;
	flex-wrap: nowrap;
	width: 1920px;
	padding: var(--effective-padding);
	gap: var(--effective-padding);
}

.bordered {
	border: var(--border-width) solid var(--fg-color-2);
	border-radius: var(--border-radius);
}

.green-screen {
	background: var(--green-screen);
}

.screen {
	width: var(--screen-width);
}

.webcam-timer {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: var(--effective-padding);
}

.webcam {
	width: 100%;
	height: calc(408px + 2 * var(--border-width));
}

.timer {
	flex-grow: 1;
	background: var(--bg-color-2);
	display: flex;
	flex-direction: column;
	align-items: center;
}

#clock {
	font-size: 100px;
}

#block {
	font-size: 40px;
}
