:root {
	font-family: ui-sans-serif, system-ui, -apple-system, sans-serif;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	display: grid;
}

.app {
	display: flex;
}

.app > .one {
	background: pink;
	width: 50%;
}

.app > .two {
	width: 50%;
	background: #0f0;
}
