:root {
	--green-screen: #0f0;
	--padding: 28px;
	--border-width: 10px;
	--effective-padding: calc(var(--padding) - var(--border-width));
	--border-radius: 10px;
	--screen-width: calc(1280px + (2 * var(--border-width)));
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	display: grid;
}

#app {
	display: flex;
	flex-wrap: nowrap;
	width: 1920px;
	padding: var(--effective-padding);
	gap: var(--effective-padding);
	position: relative;
}

.confetti {
	position: absolute;
	animation: confetti-fall 3s linear forwards;
}

@keyframes confetti-fall {
	0% {
		top: 0px;
		transform: translateX(0);
	}
	25% {
		transform: translateX(20px);
	}
	50% {
		transform: translateX(0);
	}
	75% {
		transform: translateX(20px);
	}
	100% {
		transform: translateX(0);
		top: 1200px;
	}
}

.green-screen {
	position: relative;
	background-color: var(--green-screen);
}

.screen {
	width: var(--screen-width);
	min-width: var(--screen-width);
	border: var(--border-width) solid var(--bg-color-3);
	border-radius: var(--border-radius);
}

.webcam-timer {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: var(--effective-padding);
}

.webcam {
	width: 100%;
	height: calc(408px + 2 * var(--border-width));
	border: var(--border-width) solid var(--fg-color-2);
	border-radius: var(--border-radius);
}

.timer {
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	backgroud: var(--bg-color-3);
	border: var(--border-width) solid var(--fg-color-2);
	border-radius: var(--border-radius);
	align-items: center;
}

#clock {
	font-size: 175px;
	width: 100%;
	text-align: center;
	color: var(--fg-color-2);
}

#block {
	padding-top: 50px;
	font-size: 40px;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.28em;
	color: var(--fg-color-2);
}

#techlectic {
	font-size: 20px;
	width: 100%;
	text-align: center;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	color: var(--fg-color-2);
}

#techlectic.big {
	font-size: 75px;
	text-transform: none;
}
